<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ category }} Flashcards</ion-title>

    <ion-buttons slot="end">
      <ion-button auto-hide="false" (click)="openCreateUpdateFlashcardModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid *ngIf="flashcards.length > 0">
    <ion-row>
      <div class="flashcard-cards">
        <ion-grid>
          <ion-row *ngFor="let flashcard of flashcards">
            <ion-col size="12">
              <!-- Display flashcard card -->
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    <ion-icon name="radio-button-off-outline"></ion-icon>
                    <ion-icon style="float: right;" (click)="deleteFlashcard(flashcard.id)" name="trash-outline"></ion-icon>
                  </ion-card-title>
                </ion-card-header>
  
                <ion-card-content (click)="openCreateUpdateFlashcardModal(flashcard)">
                  <ion-row>
                    <ion-col size="12">
                      <!-- Display word or example sentence based on flip state -->
                      <ion-card-subtitle class="ion-text-center">
                        <h1>{{ isCardFlipped(flashcard) ? flashcard.exampleSentence : flashcard.word }}</h1>
                      </ion-card-subtitle>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
  
                <ion-row>
                  <ion-col size="12" class="ion-text-center">
                    <ion-button color="primary" (click)="flipCard(flashcard)">
                      Flip&nbsp;<ion-icon name="repeat-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
  
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>
  </ion-grid>
  

</ion-content>
