<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Here you can set settings for the app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <div class="settings-block">
        <ion-col size="12">
          <ion-button color="danger" (click)="showResetConfirmation()">Reset LocalStorage Data</ion-button>
          <!-- Add other settings UI elements here -->
        </ion-col>
      </div>

    </ion-row>
  </ion-grid>



</ion-content>