/* Add this to global styles or search.page.scss */
.custom-searchbar {
  min-width: 25%;
  display:block;
  margin: 0 auto;   /* Center the search bar */
}
  
.search-result {
  display:block;
  margin:0 auto;
}
