<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Lookup a word here</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <ion-row>
      <div class="custom-searchbar">
        <!-- Language Dropdown -->
        <ion-list>
          <ion-item>
            <ion-select placeholder="Choose a language" [(ngModel)]="selectedLanguage">
              <ion-select-option value="DE">German</ion-select-option>
              <ion-select-option value="EN">English</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <!-- Small search form -->
        <ion-searchbar placeholder="Enter a word" (ionInput)="onInputChange($event)"
          [(ngModel)]="searchWord"></ion-searchbar>
        <!-- Error message -->
        <ion-text *ngIf="showError" color="danger">Please choose a language and enter a word before
          searching.</ion-text>

        <!-- Search button -->
        <ion-button expand="block" (click)="searchWordDefinition()">Search</ion-button>

        <!-- Button to lookup a random word -->
        <ion-button expand="block" (click)="lookupRandomWord()">Lookup Random Word</ion-button>

      </div>
    </ion-row>

    <ion-row>
      <div class="search-result">
        <!-- Display errorMsg -->
        <h3 class="ion-text-center">{{errorMsg}}</h3>

        <ion-grid>
          <ion-row *ngFor="let word of wordResults">
            <ion-col size="12">
              <!-- Display word information -->
              <ion-card>
                <ion-card-header>
                  <!-- Display Word -->
                  <ion-card-title>
                    <span style="color:black">{{ word.word }}</span>
                    <ion-icon style="float: right;" (click)="openCreateFlashcardModal(word)" name="enter-outline"></ion-icon>
                  </ion-card-title>
                  <!-- Display Word Type -->
                  <ion-card-subtitle>
                    <!-- Display elements as badges with space between each element -->
                    <span *ngFor="let meaning of word.meanings">
                      <ion-badge color="primary">{{meaning.partOfSpeech}}</ion-badge>
                      &nbsp;
                    </span>
                  </ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  <ion-note *ngIf="word.origin">{{ word.origin }}</ion-note>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>

                <ion-card-content>
                  <ion-row>
                    <ion-col size="6">
                      <ion-card-title>{{ word.meanings.length }}</ion-card-title>
                      <ion-card-subtitle>meanings</ion-card-subtitle>
                    </ion-col>

                    <ion-col size="6">
                      <ion-card-title>{{ word.phonetics.length }}</ion-card-title>
                      <ion-card-subtitle>phonetics</ion-card-subtitle>
                    </ion-col>
                  </ion-row>
                </ion-card-content>

                <ion-row>
                  <ion-col size="12">
                    <ion-button color="primary" expand="block" (click)="openViewWordDetailsModal(word)">
                      Details&nbsp;<ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>

              </ion-card>

            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </ion-row>
  </ion-grid>

</ion-content>