<div class="ion-page">

  <ion-header>
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-button (click)="addToBookmark()">
          <ion-icon [name]="isBookmarked ? 'bookmark' : 'bookmark-outline'"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>Word Details</ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Close</ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-grid *ngIf="selectedWord">
      <ion-row>
        <ion-col size="12">

          <!-- Display word information -->
          <ion-card>
            <ion-card-header>
              <!-- Display Word -->
              <ion-card-title>{{ selectedWord.word }}</ion-card-title>
              <!-- Display Word Type -->
              <ion-card-subtitle>
                <!-- Display elements as badges with space between each element -->
                <span *ngFor="let meaning of selectedWord.meanings">
                  <ion-badge color="primary">{{meaning.partOfSpeech}}</ion-badge>
                  &nbsp;
                </span>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-note *ngIf="selectedWord.origin">{{ selectedWord.origin }}</ion-note>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <!-- Display Phonetics List -->
          <ion-card>
            <ion-card-header>
              <ion-card-title>Phonetic</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ng-container *ngIf="selectedWord.phonetics && selectedWord.phonetics.length > 0">
                <ion-row *ngFor="let phonetic of selectedWord.phonetics">
                  <ion-col *ngIf="phonetic.text">
                    <ion-label>{{ phonetic.text }}</ion-label>
                  </ion-col>
                </ion-row>
              </ng-container>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <!-- Display Meanings -->
          <ion-card>
            <ion-card-header>
              <ion-card-title>Meaning</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ng-container>
                <ion-row *ngFor="let meaning of selectedWord.meanings; let i = index">
                  <ion-col>
                    <!-- Display Word Type -->
                    <ion-badge color="primary">{{meaning.partOfSpeech}}</ion-badge>
                    <!-- Display Definitions -->
                    <ion-row *ngFor="let definition of meaning.definitions; let j = index">
                      <ion-col>
                        <ion-label>{{ j + 1 }}. {{ definition.definition }}</ion-label>
                      </ion-col>
                      <!-- Display Examples -->
                      <ion-col *ngIf="definition.example">
                        <ion-label>Example: {{ definition.example }}</ion-label>
                      </ion-col>
                    </ion-row>
                    <!-- Display Synonyms -->
                    <ion-label *ngIf="meaning.synonyms && meaning.synonyms.length > 0">
                      Synonyms: {{ meaning.synonyms.join(', ') }}
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ng-container>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
</div>