<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Welcome to {{title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button auto-hide="false" (click)="openCreateUpdateCategoryModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <div class="example-content">Explore now our contents</div> -->

  <ion-grid *ngIf="categories.length > 0">
    <ion-row>
      <div class="category-cards">
        <ion-grid>
          <ion-row *ngFor="let category of categories">
            <ion-col size="12">
              <!-- Display category card -->
              <ion-card>
                <ion-card-header (click)="redirectToFlashcardPage(category)">
                  <ion-card-title>{{ category }}</ion-card-title>
                </ion-card-header>

                <ion-card-content (click)="redirectToFlashcardPage(category)">
                  <ion-row>
                    <ion-col size="6">
                      <!-- Display number of created flashcard in this category -->
                      <ion-card-subtitle>{{ getFlashcardCount(category) }} cards</ion-card-subtitle>
                    </ion-col>
                  </ion-row>
                </ion-card-content>

                <ion-row>
                  <ion-col size="6">
                    <ion-button color="primary" expand="block" (click)="openCreateUpdateCategoryModal(category)">
                      Update&nbsp;<ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                  </ion-col>

                  <ion-col size="6">
                    <ion-button color="primary" expand="block" (click)="deleteCategory(category)">
                      Delete&nbsp;<ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>

              </ion-card>

            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </ion-row>
  </ion-grid>

</ion-content>