<!-- bookmark.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Your bookmarked words</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid *ngIf="bookmarkedWords.length > 0">
    <ion-row>
      <div class="bookmark-results">
        <ion-grid>
          <ion-row *ngFor="let word of bookmarkedWords">
            <ion-col size="12">
              <!-- Display word information -->
              <ion-card>
                <ion-card-header>
                  <!-- Display Word -->
                  <ion-card-title>{{ word.word }}</ion-card-title>
                  <!-- Display Word Type -->
                  <ion-card-subtitle>
                    <!-- Display elements as badges with space between each element -->
                    <span *ngFor="let meaning of word.meanings">
                      <ion-badge color="primary">{{meaning.partOfSpeech}}</ion-badge>
                      &nbsp;
                    </span>
                  </ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  <ion-note *ngIf="word.origin">{{ word.origin }}</ion-note>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>

                <ion-card-content>
                  <ion-row>
                    <ion-col size="6">
                      <ion-card-title>{{ word.meanings.length }}</ion-card-title>
                      <ion-card-subtitle>meanings</ion-card-subtitle>
                    </ion-col>

                    <ion-col size="6">
                      <ion-card-title>{{ word.phonetics.length }}</ion-card-title>
                      <ion-card-subtitle>phonetics</ion-card-subtitle>
                    </ion-col>
                  </ion-row>
                </ion-card-content>

                <ion-row>
                  <ion-col size="12">
                    <ion-button color="primary" expand="block" (click)="openViewWordDetailsModal(word)">
                      Details&nbsp;<ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>

              </ion-card>

            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <div class="bookmark-results">
        <ion-text *ngIf="bookmarkedWords.length === 0">
          You don't have any bookmarked words yet!<br>
          Any time you see the bookmark icon, press it to add the related word to your bookmarks and quickly access it from here.
        </ion-text>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>
