<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Create Flashcard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-select class="custom_highlight" label="Category:" [(ngModel)]="selectedCategory">
      <ion-select-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>
